<h1>GET Request Received</h1>
<table>
	<caption>URL Query Parameters</caption>
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
	</thead>
	{{#each getQuery}}
		<tr>
			<td>{{this.key}}</td>
			<td>{{this.value}}</td>
		</tr>
	{{/each}}
</table>
